body {
    background-image: 
    url('https://images.pexels.com/photos/15922682/pexels-photo-15922682/free-photo-of-abandonado-perdido-arquitetura-azul.jpeg?auto=compress&cs=tinysrgb&w=600 50px;');
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
   }